<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>

<p>
  <b>Issue:</b>
  <%=h @comment.issue_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>