<p>
  <%= fields.error_messages %>
  <%= fields.label :title %><br />
  <%= fields.text_field :title %>
</p>
<p>
  <%= fields.label :code %><br />
  <%= fields.text_field :code %>
</p>
<p>
  <%= fields.label :description %><br />
  <%= fields.text_field :description %>
</p>
<p>
  <%= fields.file_field :screenshot %>
</p>
<p>
  <%= fields.submit 'Save' %>
</p>
