<p>
  <b>Title:</b>
  <%=h @issue.title %>
</p>

<p>
  <b>Code:</b>
  <%=h @issue.code %>
</p>

<p>
  <b>Description:</b>
  <%=h @issue.description %>
</p>


<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>